In [101]:
import numpy as np
import pandas as pd

In [27]:
data_str = pd.read_csv('data/day7.txt', header = None, sep = ':')

data_str.columns = ['resultat', 'inputs']

data = data_str.copy()
data['inputs'] = data_str.inputs.apply(lambda x:[int(elem) for elem in x.split(' ')[1:]])
data['resultat'] = data_str.resultat.apply(int)

data

        resultat                                   inputs
0    64288413730          [91, 79, 4, 9, 7, 8, 91, 7, 30]
1      230456169      [3, 630, 12, 7, 2, 1, 6, 26, 3, 69]
2         376955                     [7, 96, 4, 914, 387]
3        2102493                 [259, 8, 30, 467, 9, 17]
4      144043977  [96, 25, 7, 5, 1, 3, 4, 5, 5, 67, 3, 1]
..           ...                                      ...
845     19697057                    [98, 2, 505, 199, 37]
846   8286699609         [7, 299, 91, 46, 7, 3, 39, 9, 9]
847       857291                 [80, 1, 73, 674, 98, 84]
848    921274333        [376, 926, 6, 63, 86, 2, 3, 1, 7]
849    540968278                        [7, 118, 76, 275]

[850 rows x 2 columns]

In [99]:
def check_line(target, inputs):
    nb_op = len(inputs)-1
    for i in range(pow(2, nb_op)):
        binary = f"{bin(i)[2:]:0>{nb_op}}"
        result = inputs[0]
        for index, operator in enumerate(binary):
            if operator == '0':
                result += inputs[index+1]
            if operator == '1':
                result *= inputs[index+1]
        if result == target:
            return True
    return False

In [100]:
sum([data.iloc[index].resultat if check_line(data.iloc[index].resultat, data.iloc[index].inputs) else 0 for index in range(len(data))])

4122618559853

In [109]:
def check_line_ter(target, inputs):
    nb_op = len(inputs)-1
    for i in range(pow(3, nb_op)):
        ternary = f"{np.base_repr(i, 3):0>{nb_op}}"
        result = inputs[0]
        for index, operator in enumerate(ternary):
            if operator == '0':
                result += inputs[index+1]
            if operator == '1':
                result *= inputs[index+1]
            if operator == '2':
                result = int(str(result)+str(inputs[index+1]))
        if result == target:
            return True
    return False

In [110]:
sum([data.iloc[index].resultat if check_line_ter(data.iloc[index].resultat, data.iloc[index].inputs) else 0 for index in range(len(data))])

227615740238334